{% extends 'base.html' %}

{% block title %}
Transações - FinCompass
{% endblock %}

{% block content %}
<style>
    /* Style for the popup window */
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 400px; /* Set the width of the popup window */
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
</style>

<div class="row mt-4">
    <div class="col-md-6">
        <h2>Transações</h2>
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-primary" onclick="openPopup()">Adicionar Transação</button>
        <button class="btn btn-success" onclick="downloadCSV()"><i class="fa-solid fa-file-arrow-down"></i> CSV</button>
    </div>
    
</div>

<div class="table-responsive mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Método de Pagamento</th>
                <th>Observações</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
    <tr>
        <td>{{ transaction[4] }}</td>  {# Date #}
        <td>{{ transaction[3] }}</td>  {# Category #}
        <td>R${{ '%.2f' % transaction[2] }}</td>  {# Amount #}
        <td>{{ transaction[6] }}</td>  {# Payment Method #}
        <td>{{ transaction[5] }}</td>  {# Notes or Description #}
        <td>
            <!-- Button or link to trigger the delete action -->
            <form action="{{ url_for('delete_transaction', transaction_id=transaction[0]) }}" method="post">
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </form>
        </td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<!-- Popup window -->
<div id="popup" class="popup" style="overflow: auto;">
    <div class="popup-content p-4">
        <span class="close" onclick="closePopup()">&times;</span>
        <!-- Form for adding transaction -->
        <form action="{{ url_for('add_transaction') }}" method="post">
            <!-- Add input fields for transaction details -->
            <div class="mb-3">
                <label for="date" class="form-label">Data:</label>
                <input type="date" id="date" name="date" class="form-control">
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Categoria:</label>
                <select id="category" name="category" class="form-select" required>
                    <option value="Entertainment">Entretenimento</option>
                    <option value="Food">Alimentação</option>
                    <option value="Utilities">Utilidades</option>
                    <option value="Education">Educação</option>
                    <option value="Travel expenses">Despesas de Viagem</option>
                    <option value="Gifts">Presentes</option>
                    <option value="Rent">Aluguel</option>
                    <option value="Subscriptions">Assinaturas</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Valor:</label>
                <input type="number" id="amount" name="amount" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="payment_method" class="form-label">Método de Pagamento:</label>
                <select id="payment_method" name="payment_method" class="form-select" required>
                    <option value="Pix">Pix</option>
                    <option value="Debit">Débito</option>
                    <option value="Credit">Crédito</option>
                    <option value="Dinheiro">Dinheiro</option>
                </select>
            </div>

            <div class="mb-3"  id="installments" style="display:none;" >
                <label for="installments" class="form-label">Número de Parcelas:</label>
                <input type="number" name="installments" class="form-control" min="1" value="1" >
            </div>

            <div class="mb-3">
                <label for="notes" class="form-label">Observações:</label>
                <textarea id="notes" name="notes" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar Transação</button>
        </form>
    </div>
</div>


<script>
// Function to open the popup window
function openPopup() {
    document.getElementById("popup").style.display = "block";
}

// Function to close the popup window
function closePopup() {
    document.getElementById("popup").style.display = "none";
}

// Function to download the transaction table as a CSV file
function downloadCSV() {
    // Get all table rows except the header
    const rows = document.querySelectorAll('table tbody tr');

    // Prepare CSV content
    let csvContent = 'Data,Categoria,Valor,Método de Pagamento,Observações\n';

    // Iterate over table rows and append data to CSV content
    rows.forEach(row => {
        const columns = row.querySelectorAll('td');
        const rowData = Array.from(columns).map(column => column.textContent.replace(/\n/g, '').replace('₹', '')); // Remove newline characters and INR symbol
        csvContent += rowData.join(',') + '\n';
    });

    // Create a Blob object containing the CSV content
    const blob = new Blob([csvContent], { type: 'text/csv' });

    // Create a temporary anchor element
    const a = document.createElement('a');
    a.href = window.URL.createObjectURL(blob);
    a.download = 'transacoes.csv';

    // Append the anchor element to the document body and trigger a click event
    document.body.appendChild(a);
    a.click();

    // Remove the anchor element from the document body
    document.body.removeChild(a);
}

function openInstallments(){
    const installmentsField = document.getElementById('installments');
    const inputPaymentType = document.getElementById("payment_method")
    console.log(inputPaymentType.value)
    if (inputPaymentType.value === 'Credit') {
        installmentsField.style.display = 'block';
    } else {
        installmentsField.style.display = 'none';
        installmentsField.value = ''; // Reset value when not using credit
    }
}

openInstallments();
document.getElementById('payment_method').addEventListener('change', () => {
    openInstallments();
});

</script>
{% endblock %}
